.img {
    background-image: url(./backgroundimg.jpeg);
    background-size: cover;
    height: 100vh;
    width: 100vw;

}

.hom {
    background-color: white;
    border: 0.1em black;
    border-radius: 1rem;
    width: 30rem;
    height: 12rem;
}

.home-base {
    letter-spacing: 1px;
    font-size: .9rem;
}


@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@500&display=swap');

.img {
    font-family: 'Mulish', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');

p {
    font-family: 'Manrope', sans-serif;
}

@media(max-width:400px) {
    .hom {
        margin-top: auto;
        margin-bottom: auto;
        width: 15rem;
        height: auto;
    }
}

@media(max-width:700px) {
    .hom {
        margin-top: auto;
        margin-bottom: auto;
        width: 80%;
        height: 100%;
        padding-bottom: 2rem;
    }
}