.background-style {
    background-color: darkgray;
    background-size: cover;
    height: 100%;
    width: 100%;

}

.logo {
    width: 6rem;
}


.button1-style {
    background-color: #73BE73;
    border: none;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;



}

.background-style1 {
    background-color: #ffffff;
    padding: 20px;
    margin: 40px;

}

.div1-style {
    text-align: center;
    margin: 0 auto;
}

.head-style {
    color: #dc143c;
}

/* Styles for the instructions section */
.instructions-container {
    display: grid;
    gap: 10px;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
}

.instructions-item {
    display: flex;
    align-items: center;

}

.instructions-item p {
    font-weight: bold;
    letter-spacing: 1px;
}

.instructions-icon {
    font-size: 24px;
    margin-right: 10px;
    margin-bottom: 10px;
}